ul, li {
  list-style: none;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.App {
  text-align: center;
}
#hamburger-menu {
  position: fixed;
  top: 100px;
  left: -300px; /* 메뉴를 왼쪽에서 숨김 */
  width: 300px;
  height: 100%;
  background-color: #e0e0e0;
  transition: left 0.3s ease; /* 애니메이션 설정 */
}

#hamburger-menu.open {
  left: 0; /* 햄버거 메뉴를 눌렀을 때 나타남 */
}

.subGnb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  color: rgb(27, 27, 27);
}

.subGnb li {
  margin-top: 20px;
  color: rgb(27, 27, 27);
}


/* DefaultData */
.DefaultData_Container {
  display: flex; 
  justify-content: space-evenly;
}
.DefaultData_Box {
  width: 20%;
  height: 120px;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
}
.DefaultData_BoxContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.DefaultData_BoxContainer div {
  display: flex;
  flex-direction: column;
  align-Items: flex-start;
}
.DefaultData_BoxContainer div span:first-child {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.DefaultData_BoxContainer div span:last-child{
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  opacity: 0.6;
}
.DefaultData_Box.blue{
background-color: #6200ea;
}
.DefaultData_Box.yellow{
background-color: #ffc107;
}
.DefaultData_Box.perple{
background-color: #9c27b0;
}
.DefaultData_Box.green{
background-color: #26a69a;
}
.DefaultData_text {
  display: flex;
  padding-Left: 1rem;
  color: #aeaeae;
  font-Size: 12px;
  margin-Top: 10px;
}
.icon-circle {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.5);
}
.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.DefaultAccount_Container {
  display: flex;
  justify-content: space-around;
}

.Privacy {
  width: 45%;
  height: 220px;
  border: 1px solid black;
  padding: 1.5rem;
}
.Privacy_content {
  display: flex;
  font-size: 14px;
}
.Privacy_content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.Privacy_content p {
  opacity: 0.6;
}
.Account {
  width: 45%;
  height: 220px;
  border: 1px solid black;
}